<!DOCTYPE html>
<html lang="ro">
    <%- include("../fragmente/head.ejs") %>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
                
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>