<!DOCTYPE html>
<html lang="ro">
    <%- include("../fragmente/head.ejs") %>
    <body>

            <%- include("../fragmente/header.ejs") %>

        
        <main>
            <h2>Despre noi</h2>
                        <p>Pe pagina noastră "Despre noi" veți găsi informații despre compania noastră și echipa noastră dedicată organizării evenimentelor <b>MMA</b> de top. Suntem mândri să oferim o experiență de <b>MMA</b> de calitate și vă mulțumim pentru susținerea voastră.</p>
                        <h2>Intrebari Frecvante</h2>
                        <details>
                            <summary>Cum pot sa achizitionez bilete?</summary>
                            <p>De pe pagina de bilete se pot achizitiona ata bilete, cat si abonamente live.</p>
                        </details>
                        <details>
                            <summary>Pot sa renunt la bilet?</summary>
                            <p>Nu, dar se poate schimba pentru un bilet la alt eveniment.</p>
                        </details>
                        <details>
                            <summary>Pot sa anulez un abonament?</summary>
                            <p>Da, plata recursiva se va opri incepand cu luna urmatoare.</p>
                        </details>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>