<link rel="stylesheet" href="/resurse/css/link.css" type="text/css" />
<style>
    #tema {
    position: sticky;
    bottom: 20px;
    right: 20px;
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }
  
  #tema:hover {
    opacity: 1;
  }
  
  </style>
  <br>
  <br>
  
  <div id="tema" class="d-flex align-items-center mt-10">
      <i class="fas fa-moon fa-regular ml-4"></i>
      <div class="form-check form-switch ml-2" id="cont_switch">
        <!-- <input class="form-check-input" type="checkbox" role="switch" id="switch_tema"> -->
      </div>
      <i class="fas fa-sun fa-regular ml-2"></i>
    </div>
<footer>
    <p>Sperăm că aceste informații v-au ajutat să aflați mai multe despre secțiunile site-ului nostru EFC dedicate evenimentelor <b>MMA</b>. Vă invităm să explorați site-ul nostru pentru a afla mai multe despre evenimentele noastre, luptătorii noștri și opțiunile de bilete și abonamente.</p>
    <p>Ne puteti gasi la adresa:<a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4355355,26.0995867,15z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh" class="footer-link">Str. Academiei, nr. 14, Mun. Bucuresti</a>.</p>
    <p>De asemenea ne puteti contacta: <a href="tel:+40733633303">Telefon </a><a href="mailto:alexandru-stefan.ratiu@s.unibuc.ro">Email </a><a href="https://wa.me/0733633303" class="footer-link">Whatsapp</a></p>
    <p><a href="./resurse/Termeni_si_conditii.pdf" download="Termeni si Conditii">Termeni si Conditii </a></p>
    <p><a href="https://anpc.ro/" class="footer-link">ANPC</a></p>
    <small>&copy;<time datetime="2023-03-04 16:33">2023</time></small>
    <div id="banner" class="disclaimer-banner">
        <div class="banner-content">
          <p>Acesta este un proiect scolar!</p>
          <p>Acceptati cookie-uri?</p>
          <button id="ok_cookies">OK</button>
        </div>
      </div>
</footer>