<head>
    <title> EFC - Elite Fighting Championship </title>
    <link rel="stylesheet" href="css/mainstyle.css"/>
    <link rel="stylesheet" href="css/reflexie.css"/>
    <link rel="stylesheet" href="css/navbar.css"/>
    <link rel="stylesheet" href="css/galerie_animata.css"/>
    <link rel="stylesheet" href="css/nav1000.css" media="screen and (max-width:1000px)"/>
    <link rel="stylesheet" href="css/nav700.css" media="screen and (max-width:700px)"/>
    <link rel="stylesheet" href="css/galerie_statica.css" type="text/css"/>
    <!-- <link rel="stylesheet" href="css/galerie_statica500.css" media="screen and (max-width:1000px)"/> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/customizare_bootstrap.css" type="text/css"> 


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="MMA, evenimente, luptători, ring">
    <meta name="description" content="Site-ul pentru evenimente de MMA va fi o platformă online destinată fanilor acestui sport, dar și organizatorilor și participanților la evenimente. Site-ul va oferi informații despre evenimente, bilete, luptători și ultimele știri din lumea MMA. De asemenea, va oferi posibilitatea de a vedea live stream-uri ale unor evenimente și de a urmări arhivele luptelor trecute.">
    <meta name="author" content="Ratiu Alexandru"> 
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="apple-touch-icon" sizes="180x180" href="/imagini/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imagini/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imagini/ico/favicon-16x16.png">
    <link rel="manifest" href="/imagini/site.webmanifest">
    <link rel="mask-icon" href="/imagini/safari-pinned-tab.svg" color="#5bbad5"> 
</head>