<header>
    </br>
    </br>
    <h1> EFC - Elite Fighting Championship </h1>
    </br>
    <nav class="navbar">
        <label id="hamburger" for="ch-menu">
            <img src="/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><a href="/home">HOME</a></li>
            <li><a href="/evenimente">Evenimente</a>
                <ul>
                    <li><a href="#evenimente_viitoare">Evenimente Viitoare</a></li>
                    <li><a href="#arhiva_evenimente">Arhiva Evenimente</a></li>
                </ul>
            </li>
            <li>
                <a href="/galerie">Luptatori</a>
                <ul>
                    <li><a href="#profiluri_luptatori">Profiluri <b>Luptatori</b></a></li>
                    <li><a href="#rezultate_statistici">Rezultate si Statistici</a></li>
                </ul>
            </li>
            <li>
                <a href="#stiri">Stiri si Articole</a>
                <ul>
                    <li><a href="#ultimele_stiri">Ultimele stiri</a></li>
                    <li><a href="#articole">Articole</a></li>
                </ul>
            </li>
            <li>
                <a href="#bilete_abonamente">Bilete si Abonamente</a>
                <ul>
                    <li><a href="#bilete">Cumpara bilete</a></li>
                    <li><a href="#abonamente">Abonamente live</a></li>
                </ul>
            </li>
            <li>
                <a href="/despre">Despre noi</a>
                </ul>
            </li>
        </ul>
    </nav>
</br>
</br>
</header>